@font-face{
    font-family: myfont;
    src:url("../font/GmarketSansTTFLight.ttf")
}
@font-face {
    font-family: myfont2;
    src: url("../font/Roboto-Light.ttf");
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}