*{margin: 0; padding: 0;}

.box{
    border: 1px solid red;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    transition: all 0.5s ease 0s;
}

.a:hover{
    transform: translateX(100%);
}
.b:hover{
    transform: translateY(100%);
}
.c:hover{
    /* transform: translateX(50%)translateY(-50%); */
    transform:translate(50%,-50%);
}
.d:hover{
    transform: translateZ(20px);
}
.parent{
    height: 210px;
    width: 210px;
    border: 1px solid blue;
    perspective: 500px;
    perspective-origin: 50% 50%;
}
.e{
    transform-origin: 0% 50%;
}
.e:hover{
    transform: scaleX(2);
    
}
.f:hover{
    transform: scaleY(2);
    transform-origin: 0% 00%;
}
.g:hover{
    transform: scale(1.5);
}
.h{
    transform-origin: 0% 00%;
}
.h:hover{
    transform: rotate(360deg);

}
.i:hover{
    transform: rotateX(360deg);
}
.j:hover{
    transform: rotateY(360deg);
}