@font-face {
    font-family: "suit";
    font-weight: 100 ;
    src: url(../font/SUIT/SUIT-Thin.ttf);
}
@font-face {
    font-family: "suit";
    font-weight: 200 ;
    src: url(../font/SUIT/SUIT-ExtraLight.ttf);
}
@font-face {
    font-family: "suit";
    font-weight: 300 ;
    src: url(../font/SUIT/SUIT-Light.ttf);
}
@font-face {
    font-family: "suit";
    font-weight: 400 ;
    src: url(../font/SUIT/SUIT-Regular.ttf);
}
@font-face {
    font-family: "suit";
    font-weight: 500 ;
    src: url(../font/SUIT/SUIT-Medium.ttf);
}
@font-face {
    font-family: "suit";
    font-weight: 600 ;
    src: url(../font/SUIT/SUIT-SemiBold.ttf);
}
@font-face {
    font-family: "suit";
    font-weight: 700;
    src: url(../font/SUIT/SUIT-Bold.ttf);
}
@font-face {
    font-family: "suit";
    font-weight: 800 ;
    src: url(../font/SUIT/SUIT-ExtraBold.ttf);
}
@font-face {
    font-family: "suit";
    font-weight: 900 ;
    src: url(../font/SUIT/SUIT-Heavy.ttf);
}
