*{padding: 0; margin: 0; box-sizing: border-box;}
ol,ul{list-style: none;}
a{color: inherit; text-decoration: none;}
b{font-weight: inherit;}
img{width: 100%;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: normal;}

 /* font-family: 'Play';
 font-family: 'suit'; */

body{
    background: #1C1C1C;
    font-family: "suit";
    font-weight: 300;
}
.container{
    width: 100%;
    color: #fff;
    margin: 0 auto;
}
.container>div{
    width: 100%;
    height: 969px;
    /* border: 1px solid red; */
}
.container>div>div{
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}
.red{
    color: #F53100;
}
/* ---cursor------------------------ */
/* .cursorSubBox>div:nth-of-type(1){transform: scale(1);}
.cursorSubBox>div:nth-of-type(2){transform: scale(0.9);}
.cursorSubBox>div:nth-of-type(3){transform: scale(0.8);}
.cursorSubBox>div:nth-of-type(4){transform: scale(0.7);} */

.cursorSubBox.on>div{
    animation: scrillAni 1.5s ease 0s infinite alternate;
}

@keyframes scrillAni {
    0%{transform: translateX(0px) scale(1)}
    100%{transform: translateX(-25px) scale(0.9)}
}
@keyframes txtAni {
    0%{color: #fff;}    
    100%{color: #000;}
}
.cursorSubBox{
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.cursorSubBox.on{
    opacity: 1;
}
.cursorSub{
    position: fixed;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    /* border: 1px solid #fff; */
    pointer-events: none;
    /* transition: all 0.1s linear 0s; */
    z-index: 100;
    border-radius: 50%;
    background: #000;
}

.curTxt{
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    opacity: 0;
    z-index: 100;
    /* text-transform: uppercase; */
    font-weight: bold;
    /* transition: all 0.5s ease 0s; */
    /* animation: txtAni 1s ease 0s infinite alternate; */
}
.curTxt.on{
    opacity: 1;
}

/* ---intro------------------------- */
.intro{
    position: relative;
}
.bgcircle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    /* border: 1px solid red; */
    transform: translate(-50%,-50%);
}
.bgcircle2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%,-50%);
    fill:#f53100;
}
.bgcircle3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 604px;
    height: 604px;
    transform: translate(-50%,-50%);
}
.a{
    fill: transparent;
    stroke: #F53100;
    stroke-width: 1;
    stroke-dasharray: 15;
    stroke-dashoffset: 0;
    animation: dashmove 10s linear 0s infinite alternate;
}
.b{
    fill: transparent;
    stroke: #F53100;
    stroke-width: 1;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}
.c{
    fill: #F53100;
    animation: scaleani 5s linear 0s infinite alternate;
}
#in1{
    animation: rotateani 10s linear 0s infinite alternate;
}

.cls-1{
    animation: dashmove2 1.2s ease 0s infinite;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    stroke-width: 10;
}

@keyframes dashmove2 {
    0%{stroke-dashoffset: 100;}
    100%{stroke-dashoffset: 0;}
}
@keyframes dashmove {
    0%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 1000;}
}
@keyframes rotateani {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes scaleani {
    0%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
.introtxt{
    width: 1000px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.introtxt>h2{
    font-size: 250px;
    font-family: "Play";
    font-weight: bold;
    line-height: 240px;
    text-transform: uppercase;
}
.introtxtTop{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 100;
}
.introtxtTop>b{
    margin-right: 30px;
    font-weight: 100;
}
.introtxtBt{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    font-weight: 100;
    padding: 0 10px;
}
.scroll{
    width: 200px;
    height: 50px;
    font-size: 22px;
    text-transform: uppercase;
    position: absolute;
    bottom: 150px;
    left: 43.5%;
    /* transform: translateX(-50%); */
    transform: rotate(90deg);
    display: flex;
    align-items: center;
}
.inscroll{
    width: 100px;
    height: 10px;
    transform: translateY(-15px);
    margin-left: 10px;
}

/* ---about------------------------------------- */
.aboutbg{
    width: 100%;
    height: -0px;
    background: #F53100;
    border-radius: 50px 50px 0 0;
    padding: 0px 0px;
    position: relative;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
.aboutbg.on{
    height: 969px;
    padding: 50px 40px;
}
.abouttop{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
}
.abouttop>section{
    /* padding: 0 10px; */
}
section.abouttop1{
    width: 450px;
}
.abouttop1>div{

}
.imglayout{
    width: 250px;
    margin: 0 auto;
}
.abouttop1txt{
    width: 250px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 120px;
}
.abouttop1txt>p{
    margin-bottom: 10px;
}
.abouttop1txtp1>b{
    margin-right: 20px;
}

.abouttop2{
    width: 450px;
}
.abouttop2>h2{
    font-size: 100px;
    text-transform: uppercase;
    font-family: "Play";
    font-weight: bold;
    line-height: 82px;
}
.abouttop2>dl{
    margin-top: 60px;
}
.abouttop2>dl>dt{
    margin-bottom: 15px;
}
.abouttop2>dl>dt>h3{
    font-weight: 800;
    font-size: 17px;
}
.abouttop2>dl>dd>ul>li{
    margin-bottom: 10px;
}
.abouttop2>dl>dd>ul>li:last-of-type{
    margin-bottom: 0px;
}
.abouttop2>dl>dd>ul>li>b{
    display: inline-block;
    width: 150px;
}
.EDUCAdd{
    margin-bottom: 30px;
}
.abouttop3{
    width: 400px;
}
.abouttop3>p{

}
.abouttop3>dl{
    margin-top: 142px;
}
.abouttop3>dl>dt{
    margin-bottom: 15px;
}
.abouttop3>dl>dt>h3{
    font-weight: 800;
    font-size: 17px;
}
.abouttop3>dl>dd>ul>li{
    margin-bottom: 10px;
}
.abouttop3>dl>dd>ul>li:last-of-type{
    margin-bottom: 0px;
}
.abouttop3>dl>dd>ul>li>b{
    display: inline-block;
    width: 100px;
}
.aboutbottom{
    width: 929px;
    height: 45%;
}
.aboutbottom>h3{
    font-weight: 800;
    font-size: 17px;
    text-transform: uppercase;
}
.skillList{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}
.skillList>li{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skilltxt{
    width: 270px;
}
.skilltxt>h4{
    margin-bottom: 10px;
}
.skilltxt>p{

}
.svgdiv{
    width: 170px;
    height: 170px;
    position: relative;
}
.circlebox1{
    width: 170px;
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);;
}
.s1{
    fill: transparent;
    stroke: #fff;
    stroke-width: 5;
    transition: all 1s ease 0s;
    stroke-dasharray : 378; 
    stroke-dashoffset : 378;
}
/* .svgdiv:hover .s1{
    stroke-dashoffset: calc((1 - 0.8)*378);
}
.svgdiv:hover .s1.p60{
    stroke-dashoffset: calc((1 - 0.6)*378);
}
.svgdiv:hover .s1.p70{
    stroke-dashoffset: calc((1 - 0.7)*378);
} */
@keyframes spinCircle {
    0% {
        box-shadow: 0px -5px 20px #fff
    }
    12.5% {
        box-shadow: 2.5px -2.5px 20px #fff
    }
    25% {
        box-shadow: 5px 0px 20px #fff
    }
    37.5% {
        box-shadow: 2.5px 2.5px 20px #fff
    }
    50% {
        box-shadow: 0px 5px 20px #fff
    }
    62.5% {
        box-shadow: -2.5px 2.5px 20px #fff
    }
    75% {
        box-shadow: -5px 0px 20px #fff
    }
    87.5% {
        box-shadow: -2.5px -2.5px 20px #fff
    }
    100% {
        box-shadow: 0px -5px 20px #fff
    }
}

/* .circlebox1,.circlebox2{
    pointer-events: none;
} */
.circlebox2{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0px -10px 10px #fff; */
    animation: spinCircle 2s linear infinite;
    /* border: 1px solid #fff; */
    border-radius: 50%;
}
.svgdiv>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-right: 0px;
    font-weight: 500;
    font-family: Play;
    font-size: 40px;
}
.line1{
    position: absolute;
    width: 1px;
    height: 100%;
    background: #000;
    top: 0;
    left: 490px;
}
.line2{
    position: absolute;
    width: 1px;
    height: 100%;
    background: #000;
    top: 0;
    left: 970px;
}
.line3{
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    top: 510px;
    left: 0;
}

/* -----------popup------------------------ */
.popup{
    padding: 50px 0;
    position: relative;
}
.popuptxt{
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
.popuptxt>h2{
    font-size: 40px;
    font-weight: 700;
}
.popuptxt>p.red{
    margin-top: 20px;
    margin-bottom: 15px;
}
.popupstation{
    width: 100%;
    height: 465px;
    overflow: hidden;
    margin-top: 150px;
    position: relative;
    padding: 0 50px;
}
.popuptrain{
    align-items: center;
}
.popuptrain>li{
    /* width: 400px; */
    height: 400px;
    position: relative;
    box-shadow: 5px 10px 10px #000;
}
.popuptrain>li::after{
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 100.5%;
    height: 100%;
    background: linear-gradient(0deg, #000, #ffffff00);
    transition: all 0.5s ease 0s;
    opacity: 1;
    pointer-events: none;
}
.popuptrain>li:hover::after{
    opacity: 0;
}
.popuptrain>li>a{
    width: 100%;
    height: 100%;
    line-height: 0;
}
.popuptrain>li>a>img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.popuptrain>li>a>p{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: all 0.5s ease 0s;
    opacity: 1;
    font-size: 18px;
    font-weight: 200;
}
.popuptrain>li:hover>a>p{
    opacity: 0;
}
div.popuptrain-pagination.swiper-pagination-progressbar{
    height: 2px;
}
.popuptrain-pagination.swiper-pagination-progressbar span.swiper-pagination-progressbar-fill {
    background: #F53100;
}
.popupstation>.swiper-button-next{
    color: #F53100;
}
.popupstation>.swiper-button-prev{
    color: #F53100;
}
.popuplayout{
    width: 100%;
    height: 760px;
    position: absolute;
    top: 209px;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: all 0.5s ease 0s;
    pointer-events: none;
}
.popuplayout.on{
    opacity: 1;
    pointer-events: auto;
}
.popuplayout>dl{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 1390px;
    height: 100%;
    font-weight: 500;
}
.popuplayout>dl>dt{
    flex: 1;
    height: 50px;
    background: #F53100;
    color: #fff;
    border-radius: 10px 10px 0 0;
}
.popuplayout>dl>dt>a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.popuplayout.on>dl>dt.on{
    color: #F53100;
    background: #fff;
}
.popuplayout.on>dl>dt.on+dd{
    opacity: 1;
    pointer-events: auto;
}
.popuplayout>dl>dd{
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    opacity: 0;
    background: #fff;
    width: calc(100% + 50px);
    height: 90%;
    pointer-events: none;
    color: #000;
    padding: 90px;
    align-items: center;
}
.pclose{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: #F53100;
    color: #fff;
    border-radius: 10px 10px 0 0;
}
.pclose>span>a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}
.popuplayouttxt{
    /* height: 300px; */
    margin-left: 100px;
}
.popuplayouttxt>h3{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}
.popuplayouttxt>h3>b{
    font-weight: 700;
}
.popuplayouttxt>p{
    width: 400px;
    margin-bottom: 60px;
}
.popuplayouttxt>div{
    display: flex;
}
.popuplayouttxt>div>dl>dt{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 17px;
}
.dlcolor{
    margin-right: 120px;
}
.dlcolor>dd>ul{
    display: flex;
}
.dlcolor>dd>ul>li{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0px;
    box-shadow: 2px 2px 3px #000;
}
.c00FF35{
    background: #00ff35;
}
.c000{
    background: #000;
}
.cfff{
    background: #fff;
}
.cCCD9E5{
    background: #CCD9E5;
}
.c304B76{
    background: #304B76;
}
.cE0B83E{
    background: #E0B83E;
}
.cED9837{
    background: #ED9837;
}
.c1D2240{
    background: #1D2240;
}
.c736B65{
    background: #736B65;
}
.cFFDA3E{
    background: #FFDA3E;
}
.c3EC9FF{
    background: #3EC9FF;
}
.c0C91CC{
    background: #0C91CC;
}
.cFAFEFF{
    background: #FAFEFF;
}
.cFFD95E{
    background: #FFD95E;
}
.cEC374A{
    background: #EC374A;
}
.c00622E{
    background: #00622E;
}
.cFF6100{
    background: #FF6100;
}
.cFFE7DB{
    background: #FFE7DB;
}

/* ------banner--------------------------- */
.banner{
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
}
.bannerlayout{
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
}
.bannerlayoutul{
    display: flex;
    overflow: hidden;
    position: relative;
    height: 95%;
    /* border: 1px solid red; */
    transform: translateY(50px);
    z-index: 10;
}
.bannerlayoutul>li{
    width: 576px;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all 0.5s ease 0s;
    /* border: 1px solid blue; */
}
.bannerlayoutul>li::after{
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 100.5%;
    height: 100%;
    background: linear-gradient(0deg, #000, #ffffff00);
    transition: all 0.5s ease 0s;
    opacity: 1;
    pointer-events: none;
}
.bannerlayoutul>li:hover::after{
    opacity: 0;
}
.bannerlayoutul>li:hover{
    transform: translateX(40%);
}
.nb{
    left: -20%;
    z-index: 14;
}
.bf{
    left: 0%;
    z-index: 13;
}
.pm{
    left: 20%;
    z-index: 12;
}
.lb{
    left: 40%;
    z-index: 11;
}
.lb img{
    object-position: 42% 0;
}
.bannerlayoutul>li img{
    height: 100%;
    object-fit: cover;
}
.bannerlayoutul>li p{
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 20;
    transform: translateX(70%);
    width: 120px;
    text-align: center;
    transition: all 0.5s ease 0s;
}
.bannerlayoutul>li:hover p{
    transform: translateX(-30%);
}
.bannertxt{
    width: 288px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    /* text-align: center; */
    padding: 0 20px;
    padding-top: 250px;
}
.bannertxt>h2{
    font-size: 40px;
    font-weight: 700;
}
.size{
    margin: 15px 0;
}
.bannerstation{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
    transition: all 0.5s ease 0s;
}
.bannerstation.on{
    opacity: 1;
    pointer-events: auto;
}
.bannerstation>.bannerstation-pagination.swiper-pagination-progressbar{
    top: 425px;
    z-index: 10;
}
.bannerstation>.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #F53100;
}
.bannertrain{
    /* width: 400%; */
    height: calc(100% - 50px);
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
}
.bannertrain>li{
    /* flex: 1; */
    height: 90%;
    background: #fff;
    color: #000;
}
.bannerbt{
    display: flex;
    padding: 30px 100px;
    align-items: center;
    height: 497px;
}
.bannerbttxt{
    width: 420px;
}
.bannerimgtop{
    width: 100%;
    height: 375px;
}
.bannerimgtop>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bannerimgbt{
    width: 500px;
    /* height: 400px; */
    margin-right: 100px;
    margin-left: 80px;
}
.bannerimgbt>img{
    object-fit: contain;
    width: 100%;
    /* height: 100%; */
}
.bannerbtTitle>h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.trainbannertxt{
    display: flex;
    margin-top: 20px;
}
.trainbannertxt h4{
    margin-bottom: 10px;
    font-weight: 700;
}
.bncolor{
    margin-right: 120px;
}
.bncolorul{
    display: flex;
}
.bncolorul>li{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0px;
    box-shadow: 2px 2px 3px #000;
}
.c07665D{
    background: #07665D;
}
.c0C8C7D{
    background: #0C8C7D;
}
.cFFA60D{
    background: #FFA60D;
}
.cFFE501{
    background: #FFE501;
}
.cFF0000{
    background: #FF0000;
}
.cFF8AAD{
    background: #FF8AAD;
}
.cFFE4EB{
    background: #FFE4EB;
}
.bclose{
    position: absolute;
    right: 0;
    top: 0px;
    width: 50px;
    height: 50px;
    background: #F53100;
    color: #fff;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    pointer-events: none;
}
.bclose>span>a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}
.bannerstation.on>.bclose{
    opacity: 1;
    pointer-events: auto;
}

/* -------redesign---------------------------- */
.redesign{
    padding: 50px 0;
    position: relative;
}
.hoverimgtxt{
    position: absolute;
    top: 300px;
    left: 280px;
    color: #fff;
    opacity: 1;
    transition: all 0.1s ease 0s;
}
.hoverimgtxt>p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 200;
}
.redesigntxt{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
}
.redesigntxt>h2{
    font-size: 40px;
    font-weight: 700;
}
.redesigntxt>.red{
    margin: 10px 0;
}
.redesigncontent{
    display: flex;
}
.bgimg{
    width: 760px;
    position: relative;
}
.bgimg>img{
    object-position: -30px;
}
.hoverimg{
    width: 490px;
    height: 300px;
    overflow: hidden;
    box-shadow: 10px 10px 30px #000;
    position: absolute;
    top: 86px;
    left: 107px;
}
.inhoverimg{
    position: absolute;
    left: 0;
    top: 0;
    transition: all 10s linear 0s;
}
.hoverimg:hover>.inhoverimg{
    transform: translateY(-1381px);
}
.redesigntxtbox2{
    width: 500px;
    /* margin-left: 160px; */
    padding: 30px 0;
}
.redesigntxtbox2>h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.redesigntxt2{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 120px;
}
.redesigntxt2>dl>dt{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.redcolor{
    display: flex;
}
.redcolor>li{
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000;
    margin-right: 15px;
}
.redcolor>li:last-of-type{
    margin-right: 0px;
}
.c0057B8{
    background: #0057B8;
}
.redesigntxt2>dl>dd>ul{

}
.redesigntxt2>dl>dd>ul>li{
    margin-bottom: 5px;
}
.redesigntxtbox2>ul{
    display: flex;
    justify-content: space-between;
}
.redesigntxtbox2>ul>li{
    width: 150px;
    height: 40px;
    background: #F53100;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.5s ease 0s;
}
.redesigntxtbox2>ul>li:hover{
    border: 2px solid rgb(255, 255, 255);
}
.redesigntxtbox2>ul>li.reda{
    background: #fff;
    color: #F53100;
    font-weight: 500;
    border: 2px solid #f5310000;
    transition: all 0.5s ease 0s;
}
.redesigntxtbox2>ul>li.reda:hover{
    border: 2px solid #F53100;
}
.redesigntxtbox2>ul>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* -------outtro--------------------------- */
.outtro{
    width: 100%;
    height: 100%;
    padding-top: 200px;
}
.outtrotxt{
    width: 1200px;
    margin: 30px auto;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.outtrotxt2{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    color: #000;
    display: flex;
    padding: 50px 100px;
    border-radius: 15px 15px 0 0;
}
.qr{
    width: 300px;
    height: 300px;
    margin-left: 100px;
}
.coll{
    margin-left: 160px;
    padding-top: 100px;
    font-weight: 700;
    font-size: 20px;
}
.coll>p{
    margin-bottom: 20px;
}