*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol{list-style: none;}

.wrap{
    height: 2000px;
    background: skyblue;
}
.box{
    height: 1000px;
    background: green;
}


.skill{
    width: 1200px;
    margin: 0 auto;
    display: flex;

}
.skill>li{
    flex: 1;
    margin-right: 10px;
}
.skill>li:last-of-type{
    margin-right: 0px;
}
.skill>li>h2{
    text-align: center;
    margin-bottom: 10px;
}
.skill>li>p{
    text-align: center;
}
.skill>li>figure{
    position: relative;
}
.skill>li>figure>svg{
    transform: rotate(-90deg);
}
.per{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.skill>li circle{
    fill: none;
    stroke: blue;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    /* transition: all 0.5s ease 0s; */
}
.btn{
    border: 1px solid red;
    padding: 20px;
    text-align: center;
}